layout {
    pane size=2 borderless=true {
        plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
            format_left " {mode}#[bg=#303446] {session}#[fg=#303445] {tabs} "
            format_right  "#[fg=#d7827e]#[bg=#d7827e,fg=#000000] #[bg=#303446] {command_directory}#[fg=#303445] "

            mode_locked "#[fg=#f38ba8]#[bg=#f38ba8,fg=#000000] "
            mode_normal "#[fg=#a6e3a1]#[bg=#a6e3a1,fg=#000000] "
            mode_pane "#[fg=#907aa9]#[bg=#907aa9,fg=#000000] "
            mode_session "#[fg=#907aa9]#[bg=#907aa9,fg=#000000] "
            mode_scroll "#[fg=#907aa9]#[bg=#907aa9,fg=#000000] "
            mode_tab "#[fg=#907aa9]#[bg=#907aa9,fg=#000000] "

            tab_active "#[fg=#ea9d34]█#[bg=#ea9d34,fg=#000000]{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[fg=#ea9d34] "
            tab_normal "#[fg=#907aa9]█#[bg=#907aa9,fg=#000000]{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[fg=#907aa9] "

            tab_sync_indicator       " "
            tab_fullscreen_indicator "□ "
            tab_floating_indicator   "󰉈 "

            command_directory_command     "bash -c \"basename $(pwd)\""
            command_directory_format      "{stdout}"
            command_git_branch_rendermode  "static"
        }
    }
    pane split_direction="vertical" {
        pane
    }
}
